@font-face {
    font-family: 'Fredericka the Great';
    src: url('fonts/Fredericka_the_Great/FrederickatheGreat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Fredericka the Great', cursive;
    height: 100vh;
    background-image: url('img/background_1920x1080/desert01.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1 {
    z-index: 1001;
}

p {
    color: whitesmoke;
}

.control {
    width: 740px;
    display: flex;
    justify-content: space-around;
}


canvas {
    background-color: black;
    display: block;
    padding: 10px;
    border: 5px;
    border-radius: 5px;
    z-index: 500;
}

.title {
    margin-top: 0px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 94px
}

.start-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/background_1920x1080/desert01.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* Das Bild wird über die gesamte Seite skaliert */
    z-index: 1000;
}

.gameOverWin {
    background-image: url('img/img_pollo_locco/img/9_intro_outro_screens/win/win_1.png');
}

.gameOverLose {
    background-image: url('img/img_pollo_locco/img/9_intro_outro_screens/game_over/game over.png');
}


button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #000;
    border-radius: 5px;
}

.game-over {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /* Dunkler Hintergrund */
}

.game-over img {
    width: 50%;
    max-width: 500px;
}

.game-over button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    background-color: #ff0000;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.game-over button:hover {
    background-color: #cc0000;
}

.d-none {
    display: none;
}


/* Smartphones */
@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

/* Smartphones */
@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}
