@font-face {
    font-family: 'Fredericka the Great';
    src: url('fonts/Fredericka_the_Great/FrederickatheGreat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Fredericka the Great', cursive;
    height: 100vh;
    overflow: hidden;
}

h1 {
    font-size: 10vh;
    text-shadow: 2px 6px 8px rgba(0, 0, 0, 0.2);
    margin: 0;
}

#mainSection {
    background-image: url('img/background/desert01.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.fullscreen-mode { 
    width: 100vw; 
    height: 100vh; 
    aspect-ratio: 480/720; 
    object-fit: contain; 
}

#content {
    position: relative;
    height: 480px;
    width: 720px;
    text-align: center;
}

#startScreen, #gameWin, #gameLose {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    position: absolute;
    background-position: center;
    background-size: cover;
}

#gameWin, #gameLose {
    z-index: -1; /* Unsichtbar nach hinten verschieben */
    opacity: 0;   /* Vollständig transparent machen */
    transition: opacity 0.5s ease-in-out;
}

#startScreen {
    background-image: url('img/img/9_intro_outro_screens/start/startscreen_1.png');
}

#gameWin {
    background-image: url('img/img/9_intro_outro_screens/win/win_1.png');
}

#gameLose {
    background-image: url('img/img/9_intro_outro_screens/game_over/game over.png');
}

canvas {
    background-color: black;
    margin-bottom: 100px;
    border-radius: 20px;
    z-index: 500;
}

button {
    font-family: 'Fredericka the Great';
    font-size: 38px;
    background-color: #FFCC33;
    padding: 10px;
    border-radius: 20px;
    margin-top: 25px;
    cursor: pointer;
}

button:hover {
    scale: 1.1;
}

#miniBtns img, #left_button, #right_button, #jump_button, #throw_button {
    cursor: pointer;
}

#miniBtns {
    position: absolute;
    top: 15px;
    right: 30px;
    gap: 8px;
}

#miniBtns img {
    width: 30px;
    height: 30px;
}

#miniBtns img:hover {
    scale: 1.2;
    cursor: pointer;
}

#throw_button {
    width: 60px;
    height: 60px;
}

.mobile-btns {
    width: 50px;
    height: 50px;
}

.show {
    z-index: 100; /* Ganz nach vorne bringen */
    opacity: 1;   /* Sichtbar machen */
}

.hidden {
    display: none;
}

@media only screen and (max-wi: 840px) {
    h1 {
        display: none;
    }

    .layout {
        display: none;
    }
}

/* Smartphones*/
@media only screen and (max-width: 720px) {
    #content {
        width: 100vw;
    }

    canvas {
        width: 100%;
    }

    #startScreen img {
        width: 100vw;
    }

    h1 {
        display: none;
    }

    .layout {
        display: none;
    }
}

@media only screen and (max-width: 650px) {
    
    .rotateDevice {
        top: 0;
        left: 0;
        display: flex;
    }   
}

@media only screen and (max-height: 530px) {
    h1 {
        display: none;
    }
}

@media only screen and (max-width: 360px) {
    h1 {
        display: none;
    }
}

/*Smartphones*/
@media only screen and (max-height: 420px) {
    #content {
        height: 100vh;
    }

    canvas {
        height: 100vh;
    }

    #startScreen img {
        height: 100vh;
    }

    .layout {
        display: none;
    }

    h1 {
        display: none;
    }
}

@media (hover: none) and (orientation: landscape) {
    #leftMobile-container {
        display: block;
        position: absolute;
        top: 80%;
        right: 70%;
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
        z-index: 10;
        padding: 5px;
    }

    #rightMobile-container {
        display: block;
        position: absolute;
        top: 80%;
        right: 5%;
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
        z-index: 10;
        padding: 5px;
    }
}

@media (hover: none) and (orientation: portrait) {
    #rotateDevice {
        display: block;
    }
}